body{
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient( rgb(255, 255, 255), rgb(199, 199, 199));
}
a{
    text-decoration: none;
    color: white;
   
}
h1{
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 4px solid blue;
    width: 180px;
}
h2{
    font-size: 25px;
    padding: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
li{
    cursor: grab;
    list-style: none;
    padding: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
li:hover{
    -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 238, 0);
}
.conteiner-corpo{
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(27, 31, 255));
    height: 400px;
   border-radius: 0px 0px 30px 30px ;
}
.conteiner{
    display: flex;
   justify-content: space-around;
  
}
.ul{
    height: 50px;
    display: flex;
    flex-direction: row;
   font-size: 25px;
}
.img-top{
    width: 300px;
    height: 300px;
   margin-top: 20px;
   margin-left: 35px;
}
.conteiner2{
    display: flex;
   justify-content: space-around;
  
}
.texto-top{
    font-size: 25px;
    margin-top: 85px;
    text-align:end;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.card-corpo{
    margin-bottom: 55px;
   margin-top: 130px !important;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
   
}
.card{
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.116), rgb(27, 31, 255, 0.116));
    padding: 10px;
    width: 315px;
    height: 260px;
    border-top: 4px solid rgb(27, 31, 255);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}
.card:hover{
    box-shadow: 0 0 1em rgb(217, 255, 0);
}
.img-logo{
    width: 200px;
    height:  110px;
    border-radius: 5px;
}
.img-logo2{
    width: 25px;
    height: 25px;
    margin: 5px;
    padding: 5px;
}
.btn-inicio{
    padding: 10px;
    margin-right: 0px;
   background-color: transparent;
   border: 2px solid white;
   font-size: 15px;
   font-family: 'Roboto', sans-serif;
   margin: 17px;
   outline: none;
   font-weight: bold;
   color:rgb(255, 255, 255);
   box-shadow: 0 0 1em rgba(255, 255, 255, 0.445);
   border-radius: 8px;
   animation: anibut 1s linear infinite;
}
.btn-inicio:hover{
    
    margin: 16px;
    border-radius: 0px;
}
.conteiner-form{
    color: white;
    font-size: 12px;
  text-align: center;
   justify-content: center;
   height: 90px;
   padding: 0px;
   background-image: linear-gradient(to bottom right, rgba(1, 6, 255, 0.445), rgb(0, 0, 0));
   border-radius: 30px 30px 0px 0px ;
}

.form{
    display: flex;
    flex-direction: column;
}
.input-form{
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    border: 0px;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
.input-form:focus{
    border: 0px;
    border-left: 2px solid blue;
    
}
.input-form2{
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    border: 0px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    height: 200px;
}
.input-form2:focus{
    border: 0px;
    border-left: 2px solid blue;
    
}
.btn-form{
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
}
.textfini{
    font-size: 10px;
}
.imglogo{
    width: 40px;
    height: 40px;
}
.df{
    color: black;
}
@keyframes anibut {
    from {transform: translateY(-15px);}
    50% {transform: translateY(0);}
    to{transform: translateY(-15px);}
}
@media only screen and (max-width: 500px)   {
    .img-top{
        width: 130px;
        height: 130px;
       margin-top: 0px;
       margin-left: 35px;
    }
    .texto-top{
        font-size: 16px;
        margin-top: -9px;
        text-align:center;
        color: white;
        font-family: 'Roboto', sans-serif;
    }
    .card-corpo{
        margin-bottom: 55px;
       margin-top: 00px !important;
        flex-direction: column;
        display: flex;
       
       padding: 45px;
       
    }
    .card{
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.116), rgb(27, 31, 255, 0.116));
        padding: 10px;
        width: 315px;
        height: 260px;
        border-top: 4px solid rgb(27, 31, 255);
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        margin-top: 15px !important;
    }
    
}
